* @evanschultz

/.github/ @evanschultz
/README.md @evanschultz
/CONTRIBUTING.md @evanschultz
/AGENTS.md @evanschultz
/SECURITY.md @evanschultz
/CODE_OF_CONDUCT.md @evanschultz
/magefiles/ @evanschultz
/.goreleaser.yml @evanschultz
/docs/ @evanschultz
/cmd/ @evanschultz
